
#webcam-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    overflow: hidden;
}

#video {
    width: 100%;
    height: auto;
}

