{% extends "navbar.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col" style="justify-content: center;">
      <h3 class="mt-5">
        Welcome to TalkToMe:
        <span style="font-size: 23px;">
          Bridging Communication with Hand Gestures
        </span>
      </h3>
      <br />
      <p style="font-size: 20px; display: table-row;">
      At <b>TalkToMe</b>, we believe in the power of technology to break
      down barriers and foster inclusive communication. Our project
      focuses on leveraging hand gestures as a means of text prediction,
      particularly aimed at enhancing communication between individuals
      who are deaf or hard of hearing and those who use spoken language.
      </p>
      <br />
      <h3 class="mt-4">Our Mission</h3>
      <p style="font-size: 20px; display: table-row;">
      Our mission is simple yet profound: to facilitate seamless
      communication between diverse individuals, regardless of their
      preferred mode of expression. By harnessing the universal language
      of gestures and the capabilities of modern technology, we aim to
      empower individuals to connect, express, and understand each other
      more effectively.
      </p>
      <br />
      <h3 class="mt-4">How It Works?</h3>
      <p style="font-size: 20px; display: table-row;">
      Through advanced machine learning algorithms and sophisticated
      gesture recognition technology, our platform interprets hand
      gestures in real-time, converting them into text. By analyzing
      patterns and contextual cues, our system predicts the intended
      message, providing prompt and accurate text suggestions. This
      innovative approach enables fluid and natural communication,
      bridging the gap between sign language and spoken language users.
      </p>
      <h4 class="mt-4">Key Features</h4>
      <ul>
        <li>
          Gesture Recognition: Our system accurately identifies and
          interprets a wide range of hand gestures, capturing subtle
          nuances and movements for precise communication.
        </li>
        <li>
          Predictive Text: By analyzing gesture sequences and contextual
          cues, our platform suggests relevant text predictions, speeding
          up communication and reducing the need for manual input.
        </li>
        <li>
          Customization: Users can personalize their experience by
          customizing gesture preferences, adding new gestures, and
          adapting the system to their unique communication style.
        </li>
        <li>
          Accessibility: Designed with inclusivity in mind, our platform
          prioritizes accessibility features, ensuring that individuals
          with diverse needs can comfortably engage in communication.
        </li>
      </ul>
      <br />
      <h3>Why TalkToMe?</h3>
      <p style="font-size: 20px; display: table-row;">
      By facilitating seamless communication between individuals who use
      sign language and those who use spoken language, <b>TalkToMe</b> has
      the potential to make a profound impact on various aspects of daily
      life:
      </p>
      <ul>
        <li>
          Enhanced Social Interaction: Breaking down communication
          barriers fosters meaningful connections and promotes social
          inclusion.
        </li>
        <li>
          Improved Education: Deaf and hard of hearing individuals can
          engage more effectively in educational settings, accessing
          information and participating in discussions with greater ease.
        </li>
        <li>
          Empowered Independence: By providing a reliable means of communication,
          our platform empowers individuals to navigate various situations
          independently, from ordering food to seeking assistance in
          emergencies.
        </li>
      </ul>
      <p style="font-size: 20px; display: table-row;">
      Together, let's speak with our hands and connect with our hearts.
      </p>
    </div>
  </div>
</div>
{% endblock %}

