{% extends "navbar.html" %}
{% block title %} Lets Talk{% endblock %}

{% block content %}
<div class="container">
    <h2>Lets Talk</h2>
    <div id="webcam-container"></div>
    <div id="results-container"></div>
</div>
<script>
    function startVideoCapture() {
        const webcamContainer = document.getElementById('webcam-container');
        const video = document.createElement('video');
        video.id = "video";
        video.autoplay = true;

        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                video.srcObject = stream;
                webcamContainer.appendChild(video);
            })
            .catch(function (error) {
                console.error("Error accessing webcam", error);
            });
    }

    function stopVideoCapture() {
        const webcamContainer = document.getElementById('webcam-container');
        const video = webcamContainer.querySelector('video');

        if (video) {
            const stream = video.srcObject;
            const tracks = stream.getTracks();

            tracks.forEach(function (track) {
                track.stop();
            });

            video.srcObject = null;
            webcamContainer.removeChild(video);
        }
    }

    function captureFrame() {
        const video = document.getElementById('video');
        const canvas = document.createElement('canvas');
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        const context = canvas.getContext('2d');
        context.drawImage(video, 0, 0, canvas.width, canvas.height);
        const frame = canvas.toDataURL('image/jpeg').split(',')[1];

        fetch('/processFrame', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ image: frame })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => { 
            console.log('Response from server: ', data);
            displayResults(data.predictions);
        })
        .catch(error =>{ 
            console.error('Error: ', error);
        });
    }

    function displayResults(predictions) {
        const resultsContainer = document.getElementById('results-container');
        resultsContainer.innerHTML = '';
        predictions.forEach(prediction => {
            const result = document.createElement('div');
            result.innerHTML = `Label: ${prediction.label}, Confidence: ${prediction.confidence}, Box: ${prediction.box}`;
            resultsContainer.append(result);
        });
    }

    startVideoCapture();

    window.addEventListener('beforeunload', function (event) {
        stopVideoCapture();
    });

    setInterval(captureFrame, 1000);
</script>
{% endblock %}

