{% extends "navbar.html" %}
{% block title %} Lets Talk{% endblock %}

{% block content %}
<div class="container">
    <h2>Lets Talk</h2>
    <div id="webcam-container">
    </div>
</div>
<script>
    // start the video capturing
    function startVideoCapture(){
        const webcamContainer = document.getElementById('webcam-container');
        const video = document.createElement('video');
        video.autoplay = true;

        navigator.mediaDevices.getUserMedia({video: true})
            .then(function(stream){
                video.srcObject = stream;
                webcamContainer.appendChild(video);
            })
            .catch(function(error){
                console.error("Error accessing webcam", error);
            });
    }

    // function to video capture
    function stopVideoCapture() {
        const webcamContainer = document.getElementById('webcam-container');
        const video = webcamContainer.querySelector('video');

        if (video) {
            const stream = video.srcObject;
            const tracks = stream.getTracks();

            tracks.forEach(function(track) {
                track.stop();
            });

            video.srcObject = null;
            webcamContainer.removeChild(video);
        }
    }

    function captureFrame(){
        const canvas = document.createElement('canvas');
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        const context = canvas.getContext('2d');
        context.drawImage(video, 0, 0, canvas.width, canvas.height);
        const frame = canvas.toDataURL('image/jpeg');

        // send frame to the backend

        fetch('/process_frame',{
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.Stringify({image: frame})
        })
            .then(response => response.json())
            .then(data => { console.log('Response from server: ', data)})
            .catch(error =>{ console.error('Error: ',error)});
    }

    // Call startVideoCapture when the page loads
    startVideoCapture();

    // Call stopVideoCapture when the user navigates away
    window.addEventListener('beforeunload', function(event) {
        stopVideoCapture();
    });

    // Capture frames
    intervalId = setInterval(captureFrame, 1000);
</script>
{% endblock %}
